# Git
.git

backend/*.dat
backend/test/
backend/landmark_visualizations/
test.xml

# Node.js
frontend/node_modules
frontend/build
frontend/.env
frontend/.env.*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
backend/.env
backend/*.pyc
backend/.venv
backend/venv
backend/env
backend/.pytest_cache
backend/sessions

# Output directories
backend/upload
backend/color_constrasted
backend/tps_download
backend/image_download
backend/invert_image
backend/outputs

# Editor directories
.idea
.vscode
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# env files
.env*